
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$organizer-primary: mat.define-palette(mat.$indigo-palette);
$organizer-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$organizer-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$organizer-theme: mat.define-light-theme((
  color: (
    primary: $organizer-primary,
    accent: $organizer-accent,
    warn: $organizer-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($organizer-theme);

/* You can add global styles to this file, and also import other style files */
:root{
  --main-color: #DC3545;
  --darck-color: #333333;
  --light-color: #F4F4F4;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Mulish&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #FFFFFF;
  color: #333333;
}
a{
  color: var(--main-color);
  text-decoration: none;

  &:hover{
    color: #666666;
  }
}
ul{
  list-style: none;
}
input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #CCCCCC;
  outline: none;
  margin: 0px 0px 0.5rem 0px;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}
table th {
  background-color: var(--light-color);
}
.btn{
  display: inline-block;
  background-color: var(--light-color);
  color: #333333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 0px 0.5rem 0px 0px;
  transition: opacity 0.3s;
  outline: none;

  &:disabled{
    background-color: var(--darck-color);
    color: #FFFFFF;
    cursor: not-allowed;
  }
  &:hover:not(:disabled){
    opacity: 0.8;
  }
}
.btn-block{
  display: block;
  width: 100%;
}
.btn-primary{
  background-color: var(--main-color);
  color: #FFFFFF;
}
.text-center{
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
